/* Set the background color of the body to rosybrown */
body{
  background-color: rosybrown;
}
/* Set the border radius and border of the generateQuote class */
.generateQuote{
  border-radius: 50px;
  border: none;
}