body {
  background-color: rosybrown;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
}

.generateQuote {
  border-radius: 20px;
  border: none;
  width: 100%;
  height: auto;
  font-size: 60px;
  margin-top: 5px;
  padding: 10px;
  margin-bottom: 5px;
}

.generateQuote:hover {
cursor: pointer;
}
.quote {
  font-size: 50px;
  color: rgb(46, 46, 46);
  font-family: 'Courier New', Courier, monospace;
  background-color: bisque;
  border: 3px solid white;
  border-radius: 20px;
  height: 235px;
  width: 75%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
p{
  font-size: 75px;
  color: rgb(46, 46, 46);
  font-family: 'Courier New', Courier, monospace;
  background-color: bisque;
  border: 3px solid white;
  border-radius: 20px;
  height: auto;
  width: auto;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.switchGenerator{
  border-radius: 20px;
  border: none;
  width: 100%;
  height: auto;
  font-size: 60px;
  margin-top: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
.switchGenerator:hover{
  cursor: pointer;
}
.generateNomNomQuote{
  display: none;
  border-radius: 20px;
  border: none;
  width: 100%;
  height: auto;
  font-size: 60px;
  margin-top: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
.generateNomNomQuote:hover{
  cursor: pointer;
}